<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contacts</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
</head>

<body>
	<!-- header start -->
	<div th:insert="~{fragments/header.html}"></div>
	<!-- header end -->

	<!-- logo start -->
	<div class="logo">

		<a href="/home"> <img
			src="images/Taxi-Logo-Background-PNG-Image.png" alt="">
		</a>

	</div>
	<!-- logo end  -->
	<!-- MAP STARTED -->
	<section class="find-us">
		<h3>Find Us</h3>
		<div class="map-container">
			<figure>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.2881506861904!2d84.7831444742581!3d19.313298644481947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3d51ff389a6f2b%3A0xa7b7b97f703bcb5d!2sRamlingeswar%20Water%20Park!5e0!3m2!1sen!2sin!4v1739168414433!5m2!1sen!2sin"
					style="border: 0"></iframe>
			</figure>
		</div>
	</section>

	<!-- MAP ENDED -->
	<!-- CONTACT FROM STARTD -->

	<section class="contact-section">
		<div class="contact-container">
			<!-- Contact Info -->
			<div class="contact-info">
				<h3>Contact Us</h3>
				<p>📍 Gandhi Nagar, Berhampur,</p>
				<p>📧 contact@mycab.com</p>
				<p>📞 +91 98765 43210</p>
			</div>

			<!-- Contact Form -->
			<div class="contact-form">
				<h3>Send Us a Message</h3>
				<h3 th:text="${message}"style="color: green; font-size: 18px; 
				font-weight: bold; text-align: center; padding: 8px;">
				</h3>
				
				<form method="post" th:action="@{contactform}"
					th:object="${contactForm}">
					<input type="text" placeholder="Enter Name" th:value="${contactForm.name}" name="name">
					<span class="error-message" id="errorName" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span> 
						
					<input type="tel" placeholder="Enter Phone" th:value="${contactForm.phone}" name="phone">
					<span class="error-message" id="errorPhone" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
					
					 <input type="text" placeholder="Enter Email" th:value="${contactForm.email}" name="email"> 
					 <span class="error-message"id="errorEmail" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

					<textarea placeholder="Enter Message" th:text="${contactForm.message}" name="message" ></textarea>
					<span class="error-message" id="errorMessage" th:if="${#fields.hasErrors('message')}" th:errors="*{message}" ></span>

					<!-- Send and Clear buttons -->
					<div style="display: flex; gap: 10px;">
						<button type="submit">Send</button>
						<button type="reset">Clear</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- CONTACT FROM ENDED -->




	<!-- footer started  -->
	<div th:insert="~{fragments/footer.html}"></div>
	<!-- footer ended  -->
	<!-- Add Font Awesome CDN for the icon -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>


</body>

</html>