<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet" href="styles.css">
</head>

<body>
	<!-- header start -->
	<div th:insert="~{fragments/header.html}"></div>
	<!-- header end -->

	<!-- logo start -->
	<div class="logo">

		<a href="/home"> <img
			src="images/Taxi-Logo-Background-PNG-Image.png" alt="">
		</a>

	</div>
	<!-- logo end  -->
	<!-- Carousel start -->

	<div id="carouselExample" class="carousel slide"
		data-bs-ride="carousel" data-bs-interval="3000">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="images/car3.jpg" class="d-block w-100" alt="Slide 1">
			</div>
			<div class="carousel-item">
				<img src="images/slide3.jpg" class="d-block w-100" alt="Slide 2">
			</div>
			<div class="carousel-item">
				<img src="images/car5.jpg" class="d-block w-100" alt="Slide 3">
			</div>
		</div>

		<!-- Previous Button (<) -->
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="visually-hidden">Previous</span> <span>&lt;</span>
			<!-- < symbol for previous button -->
		</button>

		<!-- Next Button (>) -->
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="visually-hidden">Next</span> <span>&gt;</span>
			<!-- > symbol for next button -->
		</button>
	</div>
	<!-- Carousel end -->
	<!-- Banners start -->
	<div class="container">
		<div class="box">
			<div class="box-image">
				<img src="images/slide.jpg" alt="Slide 1">
			</div>
			<div class="box-text">
				<p>We offer quick, safe, and affordable rides wherever you need
					to go. Our drivers are reliable, and our cars are clean and
					well-maintained. Book your ride now for a hassle-free journey</p>
			</div>
		</div>
		<div class="box">
			<div class="box-image">
				<img src="images/slide2.jpg" alt="Slide 2">
			</div>
			<div class="box-text">
				<p>We offer quick, safe, and affordable rides wherever you need
					to go. Our drivers are reliable, and our cars are clean and
					well-maintained. Book your ride now for a hassle-free journey</p>
			</div>
		</div>
		<div class="box">
			<div class="box-image">
				<img src="images/slide3.jpg" alt="Slide 3">
			</div>
			<div class="box-text">
				<p>We offer quick, safe, and affordable rides wherever you need
					to go. Our drivers are reliable, and our cars are clean and
					well-maintained. Book your ride now for a hassle-free journey</p>
			</div>
		</div>
	</div>

	<!-- Banners end -->
	<!-- booking banner start  -->
	<div class="banner">
		<div class="banner-content">
			<div class="phone-number">
				<p>
					📞 Call us now: <span>+91 123 456 7890</span>
				</p>
			</div>
			<div class="cta">
				<a href="#booknow"><button>Book Now</button></a>
			</div>
		</div>
	</div>

	<!-- booking banner end  -->

	<!-- booking form  started -->
	<div class="booking-container" id="booknow">
		<!-- First div containing the booking form -->
		<div class="booking-form-container">
			<h3>Booking Form</h3>
			<h3 th:text="${message}"
				style="color: green; font-size: 18px; font-weight: bold; text-align: center; padding: 8px;">
			</h3>


			<form id="bookingForm" th:action="@{bookingform}"
				th:object="${bookingForm}" method="post">
				<!-- Name and From -->
				<div class="form-row">
					<div class="form-group">
						<label for="Name">Name</label> <input name="name" id="name"
							placeholder="Enter your name" type="text"
							th:value="${bookingForm.name} "
							data-constraints='@NotEmpty @Required @AlphaSpecial'>
						<div class="error-message" id="errorName"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						<!-- Space for error message -->
					</div>
					<div class="form-group">
						<label for="From">From</label> <input name="source" id="From"
							placeholder="Enter departure location" type="text"
							th:value="${bookingForm.source} "
							data-constraints="@NotEmpty @Required">
						<div class="error-message" id="errorFrom"
							th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></div>
						<!-- Space for error message -->
					</div>
				</div>

				<!-- Phone and To -->
				<div class="form-row">
					<div class="form-group">
						<label for="Phone">Phone</label> <input name="phone" id="Phone"
							placeholder="Enter your phone number" type="number"
							th:value="${bookingForm.phone} "
							data-constraints="@NotEmpty @Required @Phone">
						<div class="error-message" id="errorPhone"
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
						<!-- Space for error message -->
					</div>
					<div class="form-group">
						<label for="To">To</label> <input name="destination" id="To"
							placeholder="Enter destination" type="text"
							th:value="${bookingForm.destination} "
							data-constraints="@NotEmpty @Required">
						<div class="error-message" id="errorTo"
							th:if="${#fields.hasErrors('destination')}"
							th:errors="*{destination}"></div>
						<!-- Space for error message -->
					</div>
				</div>

				<!-- Time -->
				<div class="form-group">
					<label for="Time">Time</label> <input name="time" id="Time"
						placeholder="Enter travel time" type="time"
						th:value="${bookingForm.time} "
						data-constraints="@NotEmpty @Required">
					<div class="error-message" id="errorTime"
						th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></div>
					<!-- Space for error message -->
				</div>

				<!-- Date -->
				<div class="form-group">
					<label for="Date">Date</label> <input type="date"
						th:value="${bookingForm.date} " name="date" id="Date"
						placeholder="20/05/2014"
						data-constraints="@NotEmpty @Required @Date">
					<div class="error-message" id="errorDate"
						th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					<!-- Space for error message -->
				</div>

				<!-- Comfort -->
				<div class="form-group">
					<label>Comfort</label>
					<div class="radio-group">
						<input name="comfort" value="cheap"
							th:checked="${bookingForm.comfort=='cheap'}" type="radio"
							id="Comfort1" /> <label for="Comfort1">Cheap</label> <input
							name="comfort" value="standard"
							th:checked="${bookingForm.comfort=='standard'}" type="radio"
							id="Comfort2" /> <label for="Comfort2">Standard</label> <input
							name="comfort" value="lux"
							th:checked="${bookingForm.comfort=='lux'}" type="radio"
							id="Comfort3" /> <label for="Comfort3">Lux</label>
					</div>
					<div class="error-message" id="errorComfort"
						th:if="${#fields.hasErrors('comfort')}" th:errors="*{comfort}"></div>
				</div>


				<!-- Adults and Children -->
				<div class="form-row">
					<div class="form-group">
						<label for="Adults">Adults</label> <select name="adult"
							id="Adults">

							<option th:selected="${bookingForm.adult==1}">1</option>
							<option th:selected="${bookingForm.adult==2}">2</option>
							<option th:selected="${bookingForm.adult==3}">3</option>
							<option th:selected="${bookingForm.adult==4}">4</option>
						</select>
						<div class="error-message" id="errorAdults"
							th:if="${#fields.hasErrors('adult')}" th:errors="*{adult}"></div>
						<!-- Space for error message -->
					</div>
					<div class="form-group">
						<label for="Children">Children</label> <select name="children"
							id="Children">
							<option th:selected="${bookingForm.children==0}">0</option>
							<option th:selected="${bookingForm.children==1}">1</option>
							<option th:selected="${bookingForm.children==2}">2</option>
							<option th:selected="${bookingForm.children==3}">3</option>
						</select>
						<div class="error-message" id="errorChildren"
							th:if="${#fields.hasErrors('children')}" th:errors="*{children}"></div>
						<!-- Space for error message -->
					</div>
					<!-- Space for error message -->
				</div>

				<!-- Message -->
				<div class="form-group">
					<label for="Message">Message</label>
					<textarea name="message" th:text="${bookingForm.message}"
						id="Message" placeholder="Your message"
						data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
					<div class="error-message" id="errorMessage"
						th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
					<!-- Space for error message -->
				</div>

				<!-- Submit Button -->
				<div class="form-submit">
					<button class="btn" data-type="submit">Submit</button>
				</div>
			</form>
		</div>

		<!-- Second div containing the images -->
		<div class="image-container">
			<a href="index2.html" class="slide"> <img src="images/big2.jpg"
				alt="Economy"> <span class="caption">Economy</span>
			</a> <a href="index2.html" class="slide"> <img src="images/big6.jpg"
				alt="Standard"> <span class="caption">Standard</span>
			</a> <a href="index2.html" class="slide"> <img src="images/big7.jpg"
				alt="Lux"> <span class="caption">Lux</span>
			</a>
		</div>
	</div>

	<!-- booking form  ended -->

	<!-- footer started  -->
	<div th:insert="~{fragments/footer.html}"></div>
	<!-- footer ended  -->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Add Font Awesome CDN for the icon -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>